# UI & Graphics
customtkinter==5.2.2
pillow==12.1.0

# Computer Vision & OCR
opencv-python==4.13.0.92
easyocr==1.7.2
numpy==2.3.5

# Audio & Speech-to-Text
SpeechRecognition==3.16.1
PyAudio==0.2.14
sounddevice==0.5.5
faster-whisper==1.2.1
scipy

# Text-to-Speech
piper-tts==1.4.2

# LLM Integrations
groq==1.2.0
ollama==0.6.2

# LabPilot Integration
requests

# Environment
python-dotenv
